@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Public Sans', sans-serif;
}

.node-connector {
  background-image: radial-gradient(circle, #ec5b13 1px, transparent 1px);
  background-size: 20px 20px;
}